# Built artifacts
bin/
gen/
out/
build/
.gradle/
.navigation/
externalNativeBuild/
.cxx/

# Android Studio / IntelliJ files
.idea/
*.iml
*.iws
*.ipr
capture.png
captures/

# Local configuration
local.properties

# Log files
*.log

# OS files
.DS_Store
Thumbs.db

# Secrets
google-services.json
jks/
keystore/
*.jks
*.keystore

# Kotlin
*.kotlin_module
