# Built artifacts
bin/
gen/
out/
build/
.gradle/
.navigation/
captures/
*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
*.hprof

# Android Studio / IntelliJ files
.idea/
*.iml
*.iws
*.ipr
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/assetWizardSettings.xml
.idea/navEditor.xml
.idea/deploymentTargetDropDown.xml
.idea/render_cache.xml
.gradle/9.3.0

# Local configuration (STRICTLY SHOULD NOT BE COMMITTED)
local.properties
.DS_Store
Thumbs.db

# Log files
*.log

# NDK / C++
.externalNativeBuild/
.cxx/
externalNativeBuild/

# Secrets & Keys
google-services.json
*.jks
*.keystore
*.p12
*.pem
signing.properties

# Kotlin
*.kotlin_module

# Other
.temp/
.cache/
